{
  "semi": false,
  "singleQuote": true,
  "endOfLine":"lf",
  "trailingComma": "none",
  "arrowParens": "avoid",
  "overrides": [
    {
      "files": "chkapi/**/*",
      "options": {
        "printWidth": 120
      }
    }
  ]
}
